<p id="notice"><%= notice %></p>

<p>
  <b>Testsubject:</b>
  <%= @test.testsubject %>
</p>

<p>
  <b>Marks:</b>
  <%= @test.marks %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
